<div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
      <h3 class="text-success">Click on the 'Game' tab and find out whether you are a map guru or not!</h3>
  </p>
</div>

<div class="row marketing">
  <h4>Game Intro</h4>
  <p>
    Identify which of the 5 displayed images is the closes to your location and win attractive prizes! (actually we don't have any money so you will just get some fake points which mean absolutely nothing)
  </p>

  <h4>Points System</h4>
  <p>
    For every picture correctly identified, 1 point will be given.
    And 1 point deducted for a wrong answer!
  </p>

</div>
